body,
html {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  background: white;
  color: black;
  z-index: 98;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 2rem;
}

.logo a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.backdrop {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: url("./accountant-backdrop.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.backdrop h1 {
  margin: 0;
  font-size: 5rem;
  color: white;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.3);
}

.backdrop h2 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.3);
}

.navigation li {
  margin: auto 1rem;
  font-size: 1.25rem;
}

.socials {
  margin-right: 2rem;
}

.socials li {
  margin: auto 0.5rem;
}

.abt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 10rem;
}

.abt-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

/* animacija */
@keyframes bg {
  0% {
      background-size:    0 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  25% {
      background-size:    100% 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  50% {
      background-size:    100% 3px,
                          3px 100%,
                          0 3px,
                          3px 0;
  }
  75% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 0;
  }
  100% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 100%;
  }
}

.abt-flex {
  width: 100%;
  margin: 2rem auto;
  padding: 2em;
  
  background-repeat: no-repeat;
  background-image:   linear-gradient(to right, #46c900 100%, #46c900 100%),
                      linear-gradient(to bottom, #46c900 100%, #46c900 100%),
                      linear-gradient(to right, #46c900 100%, #46c900 100%),
                      linear-gradient(to bottom, #46c900 100%, #46c900 100%);
  background-size:    100% 3px,
                      3px 100%,
                      100% 3px,
                      3px 100%;
  background-position:    0 0,
                          100% 0,
                          100% 100%,
                          0 100%;
  animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: paused;
}

.abt-flex:hover {
  animation-play-state: running;
  span{
    color: #46c900;
    text-decoration: underline;
    transition: 1.25s;
  }
}

/* animacija end */

.abt-txt {
  margin-right: 2rem;
}

.abt-txt h1 {
  text-align: center;
  font-size: 3rem;
}

.abt-txt p {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 700;
}

.abt-img {
  width: 100%;
}

.abt-img img {
  width: inherit;
  border-radius: 10px;
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.5);
}
