body,
html {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #eeeeee;
  color: #151515;
  scroll-behavior: smooth;
}

#us,
#services,
#courses,
#difference,
#meet-us,
#contact {
  scroll-margin-top: 9rem;
}

h1 {
  margin: 0;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  padding: 0.5rem 0;
  background: #a91d3a;
  color: #eeeeee;
  text-shadow: 8px 2px 4px #151515;
  z-index: 99;
  border-bottom: 2px solid #151515;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 2rem;
}

.logo a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

.navigation li:after {
  display: block;
  content: "";
  border-bottom: solid 5px #151515;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navigation li:hover:after {
  transform: scaleX(1);
}
.socials {
  margin: auto 0;
}
.socials ul {
  padding: 0;
  margin: 0;
}

.backdrop {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: url("./accountant-backdrop.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.backdrop h1 {
  margin: 0;
  font-size: 5rem;
  color: #c73659;
  text-shadow: 4px 2px 2px #151515;
}

.backdrop h2 {
  font-size: 2.5rem;
  color: #c73659;
  text-shadow: 4px 2px 2px #151515;
}

.navigation li {
  margin: auto 1rem;
  font-size: 1.25rem;
}

.socials {
  margin-right: 2rem;
}

.socials li {
  margin: auto 0.5rem;
}

.abt-us-intro h1 {
  font-size: 4rem;
  margin: 7rem 0 3rem 15rem;
  text-align: left;
}

.abt-us-intro h2 {
  font-size: 2.5rem;
  margin: 0 15rem 0 0;
  text-align: right;
}
.abt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 10rem;
}

.abt-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem;
  box-shadow: 0px 0px 0px 2px #a91d3a;
  transition: box-shadow 0.3s linear;
  border-radius: 10px;
  margin: 0.5em;
}

.abt-flex span {
  text-decoration: underline 0.15em rgba(2, 172, 121, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

/* .abt-flex:hover {
  box-shadow: 0px 0px 0px 13px #02ac79;
  span {
    text-decoration-color: rgba(2, 172, 121, 1);
  }
} */

.abt-flex.in-view {
  box-shadow: 0px 0px 0px 13px #a91d3a;
}

.abt-flex.in-view span {
  text-decoration-color: #a91d3a;
}

.abt-txt {
  margin-right: 2rem;
}

.abt-txt h1 {
  text-align: center;
  font-size: 3rem;
}

.abt-txt p {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 700;
}

.abt-img {
  width: 100%;
}

.abt-img img {
  width: inherit;
  border-radius: 10px;
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.5);
}

.services {
  margin-bottom: 10rem;
}

.services h1 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
}

.services-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.services-2 {
  padding: 3rem 7rem;
  border-left: 5px solid #a91d3a;
}

.services-list {
  list-style: none;
}

.services-list li {
  display: grid;
  grid-template-columns: 20% 70%;
  background: linear-gradient(#c73659, #a91d3a);
  border: 4px solid rgba(21, 21, 21, 0.7);
  border-radius: 15px;
  margin: 1rem;
  padding: 1.25rem 0;
  font-weight: 700;
  color: #eeeeee;
}

.services-list img {
  margin: 0 auto;
}

.courses h1 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.2);
}
.course-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.course-card {
  display: flex;
  flex-direction: column;
  margin: 5rem 7rem;
  padding: 3rem 5rem;
  box-shadow: 0px 0px 0px 2px #a91d3a;
  transition: box-shadow 0.3s linear;
  border-radius: 15px;
}

.course-card:hover {
  box-shadow: 0px 0px 0px 13px #a91d3a;
}

.course-card img {
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
}

.course-card p {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.why-intro-txt h1 {
  font-size: 4rem;
  text-align: center;
  margin: 3rem auto;
}

.why-intro-txt h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 3rem 13rem;
}

#left {
  text-align: left;
  margin-left: 7rem;
}

.why-countries {
  padding: 2rem 10rem;
  display: flex;
  flex-direction: row;
}

.why-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.why-txt h3 {
  font-size: 2.5rem;
  text-align: center;
  margin-right: 2rem;
  span {
    color: #a91d3a;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

.left img {
  display: inline-block;
  vertical-align: middle;
}

#cg {
  color: rgb(196, 3, 8);
}

.language {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  border-bottom: 4px solid #a91d3a;
}

.language p {
  font-size: 2rem;
  margin: auto 5rem;
  font-weight: 600;
}

.language img {
  text-align: center;
  margin: 0 auto;
}

.who-are-we {
  margin-top: 5rem;
}

.we-intro h1 {
  font-size: 4rem;
  text-align: center;
}

.we-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 20rem;
}

.we-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem;
  box-shadow: 0px 0px 0px 2px #a91d3a;
  transition: box-shadow 0.3s linear;
  border-radius: 10px;
  margin: 0.5em;
}

.we-flex span {
  text-decoration: underline 0.15em rgba(2, 172, 121, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.we-flex.in-view {
  box-shadow: 0px 0px 0px 13px #a91d3a;
}

.we-flex.in-view span {
  text-decoration-color: #a91d3a;
}

.we-txt {
  margin: auto 0;
  margin-left: 2rem;
}

.we-txt h1 {
  text-align: center;
  font-size: 3rem;
}

.we-txt p {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 700;
}

.we-img {
  width: 100%;
}

.we-img img {
  width: inherit;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.5);
}

.contact {
  background: #151515;
  padding: 4rem 10rem;
  color: #eeeeee;
  border-top: 4px solid #a91d3a;
  p {
    margin: 0;
  }
}

.contact-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-flexbox ul {
  list-style: none;
  padding: 0;
  a {
    text-decoration: none;
    color: #eeeeee;
  }
}

.contact-nav {
  margin: 0 5rem;
}
.contact-options {
  margin: 0 5rem;
}
.contact-socials {
  margin: 0 5rem;
}

.contact-list {
  font-size: 1.25rem;
}

.contact-options p,
.contact-socials p,
#homepage-link {
  font-size: 2.5rem;
  border-bottom: 2px solid #a91d3a;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.contact-flexbox li {
  margin: 0.5rem 0;
}

/* animations */

.focus-in-expand-fwd {
  -webkit-animation: focus-in-expand-fwd 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.5s;
}

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.text-shadow-pop-bottom {
  -webkit-animation: text-shadow-pop-bottom 0.6s both;
  animation: text-shadow-pop-bottom 0.6s both;
  animation-delay: 1s;
}

@-webkit-keyframes text-shadow-pop-bottom {
  0% {
    color: transparent;
    text-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000,
      0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    text-shadow: 0 1px #000000, 0 2px #000000, 0 3px #000000, 0 4px #000000,
      0 5px #000000, 0 6px #000000, 0 7px #000000, 0 8px #000000;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes text-shadow-pop-bottom {
  0% {
    color: transparent;
    text-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000,
      0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    text-shadow: 0 1px #000000, 0 2px #000000, 0 3px #000000, 0 4px #000000,
      0 5px #000000, 0 6px #000000, 0 7px #000000, 0 8px #000000;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.pop {
  animation: pop-in 1s;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* mobile view */

@media (max-width: 1480px) {
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  margin-right: 2rem;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #151515;
  padding-top: 120px;
  transition: 0.4s;

  ul {
    list-style: none;
    padding: 0;
  }
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials-flex {
  display: flex;
  li {
    margin: 0 2rem;
  }
}

.mobile-nav a {
  display: block;
  text-align: center;
  margin-bottom: 32px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 12px 16px;
  background-color: #a91d3a;
  border-radius: 7px;
  color: #eeeeee;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #c73659;
}

@media (max-width: 1542px) {
  .navigation,
  .socials {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .abt-us-intro h1 {
    margin: 0;
    margin-top: 7rem;
    text-align: center;
  }

  .abt-us-intro h2 {
    margin: 0;
    margin-top: 2rem;
    text-align: center;
  }

  .abt-flex {
    flex-direction: column;
    img {
      margin-top: 2rem;
    }
  }

  .course-grid {
    display: flex;
    flex-direction: column;
  }

  .course-card {
    margin: 2rem 3rem;
  }

  .we-container {
    padding: 5rem;
  }

  .we-flex {
    flex-direction: column-reverse;
    img {
      margin-top: 2rem;
    }
  }

  .contact-flexbox {
    flex-direction: column;
  }
  .contact-options,
  .contact-socials {
    margin-top: 2rem;
  }
  .contact-socials .contact-list {
    display: flex;
    justify-content: space-around;
  }

  .why-intro-txt h2 {
    margin: 3rem;
  }

  .why-countries {
    flex-direction: column;
    padding: 2rem 5rem;
    h3{
      margin: 0;
      margin-top: 2rem;
    }
  }

  .why-countries .right,
  .why-countries .left {
    text-align: center;
  }
  .language {
    justify-content: space-evenly;
    border-radius: 15px;
  }
  .language:hover {
    background-color: #a91d3a;
    transition: 0.75s;
  }
  .language p,
  .language img {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .services-grid {
    display: flex;
    flex-direction: column;
  }
  .services-1 {
    border-top: 5px solid #a91d3a;
    border-bottom: 5px solid #a91d3a;
    padding: 3rem 0;
    h1 {
      margin: 0;
    }
  }
  .services-2 {
    border-left: none;
    padding: 3rem 2rem;
  }
  .contact {
    padding: 4rem;
  }
  #homepage-link {
    text-align: center;
  }
  .contact-options p,
  .contact-socials p {
    text-align: center;
  }
}

@media (max-width: 995px) {
  .backdrop h1,
  .abt-us-intro h1 {
    font-size: 3rem;
  }
  .backdrop h2,
  .abt-us-intro h2 {
    font-size: 2rem;
  }

  .abt-container {
    padding: 2rem;
    margin: 5rem 0;
  }

  .abt-txt {
    margin-right: 0;
  }

  .abt-txt h1 {
    font-size: 2rem;
  }
  .abt-txt p {
    font-size: 1.15rem;
  }
  .contact {
    padding: 4rem 1.5rem;
  }
}
@media (max-width: 425px) {
  .logo a {
    font-size: 1.25rem;
  }

  backdrop h1,
  .abt-us-intro h1 {
    font-size: 2rem;
  }
  .backdrop h2,
  .abt-us-intro h2 {
    font-size: 1.5rem;
  }

  .mobile-nav ul {
    width: 70%;
    margin: 0 auto;
  }
  .socials-flex {
    flex-direction: column;
    li {
      margin: 0;
    }
  }

  .services h1{
    font-size: 2rem;
  }

  .services-2{
    padding: 3rem 1rem;
  }
  .services-list{
    padding: 0;
  }

  .courses h1{
    font-size: 2rem;
  }
  .course-card{
    padding: 1rem;
  }
  .why-intro-txt h1{
    font-size: 2rem;
  }
  .why-intro-txt h2{
    font-size: 1.5rem;
  }
  .why-txt h3{
    font-size: 1.25rem;
  }
  .we-container{
    padding: 5rem 1rem;
  }
  .we-intro h1{
    font-size: 2rem;
  }
  .we-flex{
    padding: 1rem;
  }
}
