body,
html {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  background: white;
  color: black;
  z-index: 98;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 2rem;
}

.logo a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.backdrop {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: url("./accountant-backdrop.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.backdrop h1 {
  margin: 0;
  font-size: 5rem;
  color: white;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.3);
}

.backdrop h2 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.3);
}

.navigation li {
  margin: auto 1rem;
  font-size: 1.25rem;
}

.socials {
  margin-right: 2rem;
}

.socials li {
  margin: auto 0.5rem;
}

.abt-us-intro h1 {
  font-size: 4rem;
  margin: 7rem 0 3rem 15rem;
  text-align: left;
}

.abt-us-intro h2 {
  font-size: 2.5rem;
  margin: 0 15rem 0 0;
  text-align: right;
}
.abt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 10rem;
}

.abt-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem;
  box-shadow: 0px 0px 0px 2px #02ac79;
  transition: box-shadow 0.3s linear;
  border-radius: 10px;
  margin: 0.5em;
}

.abt-flex span {
  text-decoration: underline 0.15em rgba(2, 172, 121, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

/* .abt-flex:hover {
  box-shadow: 0px 0px 0px 13px #02ac79;
  span {
    text-decoration-color: rgba(2, 172, 121, 1);
  }
} */

.abt-flex.in-view {
  box-shadow: 0px 0px 0px 13px #02ac79;
}

.abt-flex.in-view span {
  text-decoration-color: rgba(2, 172, 121, 1);
}

.abt-txt {
  margin-right: 2rem;
}

.abt-txt h1 {
  text-align: center;
  font-size: 3rem;
}

.abt-txt p {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 700;
}

.abt-img {
  width: 100%;
}

.abt-img img {
  width: inherit;
  border-radius: 10px;
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.5);
}

.services h1 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
}

.services-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.services-text span {
  margin: 0 2rem;
  text-decoration: underline 0.15em rgba(2, 172, 121, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.services-text:hover span {
  text-decoration-color: rgba(2, 172, 121, 1);
}

.services-container-grid {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.services-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.services-card {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  background-color: rgba(206, 206, 206, 0.3);
  border-radius: 50%;
  overflow: visible;
  transition: 0.5s;
}

.services-card:hover {
  border-radius: 15px;
  transform: scale(1.15);
  background-color: rgba(206, 206, 206, 1);
  transition: 0.5s;
  .services-txt span {
    text-decoration-color: rgba(2, 172, 121, 1);
  }
}

.services-img {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.services-txt {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  span {
    text-decoration: underline 0.15em rgba(2, 172, 121, 0);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
  }
}
.courses h1 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.2);
}
.course-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.course-card {
  display: flex;
  flex-direction: column;
  margin: 5rem 7rem;
  padding: 3rem 5rem;
  box-shadow: 0px 0px 0px 2px #02ac79;
  transition: box-shadow 0.3s linear;
  border-radius: 15px;
}

.course-card:hover {
  box-shadow: 0px 0px 0px 13px #02ac79;
}

.course-card img {
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
}

.course-card p {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.why-intro-txt h1 {
  font-size: 4rem;
  text-align: center;
  margin: 3rem auto;
}

.why-intro-txt h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 3rem 13rem;
}

#left {
  text-align: left;
  margin-left: 7rem;
}


.why-countries {
  padding: 2rem 10rem;
  display: flex;
  flex-direction: row;
}

.why-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.why-txt h3 {
  font-size: 2.5rem;
  text-align: center;
  margin-right: 2rem;
  span {
    color: #02ac79;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

.left img {
  display: inline-block;
  vertical-align: middle;
}

#cg {
  color: rgb(196, 3, 8);
}

.language {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  border-bottom: 4px solid #02ac79;
}

.language p {
  font-size: 2rem;
  margin: auto 5rem;
  font-weight: 600;
}

.language img {
  text-align: center;
  margin: 0 auto;
}
